@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: block;
}



.header{
    height: 11vh;
    background-color: black;
    width: 100%;
}
.img1{
    padding-top: 24px;
    padding-left: 15px;
    width: 150px;
}
.img2{
    float: right;
    margin:19px;
    width: 90px;
}

.header2{
    /* displabordery: block; */
    width: 100%;
    height: 13vh;
    background-color: black;
    position: absolute;
    top: 0;
}
.actors{
    width: 250px;
    height: auto;
    margin: 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 27%) 10px 10px 33px -4px;
    background-color: white;
}

.crew{
    width: 250px;
    border-radius: 30px;
    height: 300px;
    padding: 5px;
}
.crew_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.head1 {
    height: 70px;
    /* display: block; */
    width: 100%;
    color: white;
    background-color: rgb(53, 53, 53);
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0px 20px;
    position: absolute;
    top: 70px;

}

.line{
    font-size: 21px;
    margin: 10px;
    font-family: Abel,sans-serif;

}

.backdrop_div{
    /* position: relative;
    top: 70px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.back_img{
    width: 100%;
    /* position: relative; */
    height: 1150px;
    object-fit: cover;
    overflow: hidden;
    /* top: 120px; */
}

.backdrop{
   display: block;
   position: absolute;
   top: 150px;
}

.back_img2{
    width: 80%;
    border-radius: 20px 20px 0 0;
    /* position: absolute;
    top: 10px;
    margin-left: 34px; */
    /* left: 15px; */
}

.back_img2:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
    transition: all 0.3s ease 0s;
    box-shadow: rgb(0 0 0 / 27%) 10px 10px 33px -4px;
    display: inline-block;
    cursor: pointer;

}

.deets {
    width: 80vw;
    height: 60vh;
    background-color: black;
    opacity: 0.6;
    border-radius: 0 0 20px 20px;
    color: white;
    /* padding-left: 10px; */
    margin: 0 auto;
    padding: 20px;
    /* padding-top: 420px; */
    font-family: Arial, Helvetica, sans-serif;
}
.plot{
    padding: 10px;
    /* width: 100; */
    /* font-weight: bolder; */
}

.rating{
    color: black;
    display: inline-block;
    background-color: white;
    padding: 7px;
    border-radius: 20px;
    font-weight: bolder;
    margin-left: 10px;
}

.crew1{
    height: 80px;
    background-color: black;
    display: block;
    position: relative;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.crew3{
    margin-left: 6px;
    color: white;
}
.actors{
    width: 250px;
    height: auto;
    margin: 30px;
    border-radius: 30px;
    text-align: center;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 10px 10px 33px -4px;
}

.actors_head{
    margin-left: 40px;
}

@media screen and (min-width: 425px) {
    .deets{
        height: 45vh;
    }
    .back_img{
        height: 1200px;
    }
    
}




@media screen and (min-width: 768px) {
    .img1{
        padding-top: 28px;
        padding-left: 16px;
        width: 220px;
    }
    .img2{
        margin:21px;
        width: 120px;
    }
    .header{
        height: 80px;
    }
    .line{
        padding-left: 20px;
    }
    .back_img{
        height: 1700px;
    }
    .deets{
        margin: 700px 0 20px 37px;
        width: 95%;
        height: 380px;
        border-radius:20 0px 0px 0;
    }
    .head1{
        top:80px
    }

    .back_img2{
        width: 710px;
        height: 1070px;
        border-radius: 20px 0 0 20px;
        margin: 30px 0 0 30px;
        /* position: absolute; */
    }
    .backdrop{
        display: flex;
    }
    .backdrop_div2{
        position: absolute;
        top: 400px;
    }
    .plot{
        font-size: 21px;
    }


}

@media screen and (min-width:1024px) {
    .img1 {
        width:240px;
        margin-top:2px;
        margin-left: 7px;
    }

    .header {
        height: 17vh;
    }
    .img2{
        margin-right:35px;
        margin-top: 30px;
        width: 135px;
    }

    .header2 {
        height: 19vh;
    }


    .head1 {
        top: 100px;
    }

    .backdrop_div {
        top: 100px;
    }


    .crew1 {
        bottom: 5px;
        /* display: flex; */
    }


    .actors_head {
        padding-top: 25px;
    }

    .deets{
        width: 237%;
        height: 520px;
        position: relative;
        bottom: 1020px;
        left: 317px;
        border-radius: 0px 20px 20px 0;
        /* top: 20px; */ 
        padding-top: 70px ;
    }

    .back_img{
        height: 140vh;
    }
    .back_img2{
        margin: 80px 0 10px 35px;
        width: 320px;
        height: 520px;
    }
    /* .plot{
        padding: 12px;
    } */

}



