@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


a {
  color: inherit;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

.movie-map{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn2 {
  background: linear-gradient(
    90deg , rgb(2, 0, 36) 0%, rgb(9, 9, 121) 68%, rgb(139, 0, 255) 100%);
    width: 25%;
    min-width: 200px;
    height: 70px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
    font-family: Abel, sans-serif;
    font-size: 28px;
    border: 0px;
    max-width: 1280px;
    display: block;
    margin: 20px auto;
    padding: 0px 20px;
    outline: none;
    box-shadow: rgb(139 0 255 / 40%) 5px 10px 10px -4px;
}




*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.btn{
  font-size: 11vmin;
  margin-top: 3px;
  margin-left: 2px;
  color: white;

}

.input{
  width: 90%;
  height: 40px;
  font-size: 25px;
  box-sizing: border-box;
  border-color: black;
  background: transparent;
  font-family: Abel, sans-serif;
  border: none;
  outline: none;
  position: absolute;
  color: white;
  left: 1px;
  margin: 4px 0px;
  padding: 0px 0px 0px 70px;
}


.search{
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  padding: 25px 20px 0px;
  justify-content: center;
  background-color: black;
  align-items: center;

}

@media screen and (min-width: 768px) {
  .btn{
      font-size: 6vmin;
      margin-top: 2px;
      margin-left: 38px;
      color: white;
  
  }

  .input{
      font-size: 2.3rem;
      margin-top: 3px;
      margin-left: 50px;
      color: white;
  
  }
  
  
}

@media screen and (min-width: 1024px){
  .btn {
      font-size: 6vmin;
  }

  .input{
      font-size: 25px;
      font-weight: bold;
  }
  

}

